# AI Service Environment Variables

DB_HOST=db.twdhxcuxxznfqvqhtdmk.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=39i9?+fED6gwv!F
DATABASE_URL=postgresql://postgres:39i9%3F%2BfED6gwv%21F@db.twdhxcuxxznfqvqhtdmk.supabase.co:5432/postgres

# Redis Celery Broker & Result Backend
REDIS_HOST=localhost
REDIS_PORT=6379
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# MinIO / S3 Object Storage Configuration
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=evidence-uploads
